<ul class="nav nav-underline">
  <li class="nav-item">
    <%= link_to "Checkout", new_loan_path, class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "Return", loans_path, class:"nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "New Student", new_student_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "New Book", new_book_path, class: "nav-link" %>
  </li>
</ul>
