#title{
  font-size: 60px;
  font-weight: bold;
  color: #0C4A6E;
}

.subtitle{
  font-size: 20px;
  font-weight: bold;
  color: #0C4A6E;
}

.student-name{
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.loan-info{
  font-size: 14px;
  color: #757575;
}

.loan-info-overdue{
  font-size: 14px;
  font-weight: bold;
  color: #682D03;
}
